@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
	text-align: center;
}
#reviews{
	background-image: url(./direct.jpg);
	height: 700px;
	background-size: cover;
	background-position: top center;
	position: relative;
	z-index: 1;
}
#reviews::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: black;
	opacity: .7;
	z-index: -1;
}
#reviews h3 span{
	color: rgb(7, 248, 95);
}
#reviews h3{
	font-size: 2rem;
	color: rgb(255, 255, 255);
}
#reviews .reviews{
	flex-direction: column;
	text-align: center;
	max-width: 1300px;
	margin: 0 auto;
	padding: 300px 0;
}
#reviews .top {
	max-width: 500px;
	margin: 0 auto;
}
#reviews .rate {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 300px;
}
#reviews .review {
	flex-basis: 80%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	padding: 10px;
	border-radius: 10px;
	background-color: burlywood;
	background-size: cover;
	margin: 10px 5%;
	position: relative;
	z-index: 1;
	overflow: hidden;
}
#reviews .review::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
	opacity: .9;
	z-index: -1;
}
#reviews .rate .icon img {
	height: 270px;
	width: 263px;
}
#reviews .rate .icon1 img {
	height: 250px;
	width: 263px;
}

#reviews .review h3 a{
	font-size: 30px;
	color: white;
}
#reviews .review h3 a:hover{
	color: cadetblue;
}
#reviews .review p{
	font-family: 'Fira Sans', sans-serif;
	font-size: .35rem;
	color: rgb(219, 170, 241);
}

@media only screen and (min-width: 768px) {
	#reviews .rate .review {
		flex-basis: 45%;
		margin: 2.5%;
	}
	#reviews .rate .review img{
		width: 330px;
	}
}
@media only screen and (min-width: 1200px) {
	#reviews .rate .review {
		flex-basis: 22%;
		margin: 1.5%;
	}
	#reviews .rate .review img{
		width: 263px;
	}
}